.headerContent {
    text-align: center;
    min-height: 100vh;
    padding-top: 50px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
} 

.headerContent h1 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.headerContent .createRaceBtn {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}