

/* light green: #ccffff

green: #33cc99

blue: #336699 */

.ndTitle {
    text-align: center;
    text-transform: capitalize;
    color: #336699; 
    /* color: #33cc99; */
}

.noCaps {
    text-transform: none;
}

.nameDesc {
    height: 100vh;
    /* background: #336699; */
    background:  #ccffff;
    /* background: #33cc99; */
    padding-top: 60px;
}

.ndWrapper {
    width: 80%;
    height: 60%;
    border: 10px solid #336699;
    /* border: 10px solid #33cc99; */
    margin: 0 auto;
    background: white;
    /* background: #ccffff; */
    /* vertical-align: middle; */
    /* margin-top: 12.5%; */
    /* padding-top: 10%; */
}

.ndForm {
    margin: 100px 80px;
    /* border: 2px solid red; */
}

.ndForm label {
    min-width: 400px;
    color: #336699;
    /* font-family: 'Lato', sans-serif; */
    /* border: 1px solid blue; */
}


.ndSpan {
    display: block;
    /* border: 2px solid pink; */
    margin: 10px 0;
}

input {
    width: 500px;
    /* border: 2px solid rgba(53, 75, 243); */
}

input:focus {
    background: rgba(51, 204, 153, .2);
    /* background: rgba(204, 255, 255, 0.2); */
    border: 2px solid #33cc99;
    color: #336699;
}

.ndButton {
    margin: 60px auto;
    display: block;
    width: 200px;
    height: 50px;
    border: 5px solid  #336699;
    border-radius: 5%;
    color: #336699;
    background: white;
    transition: 0.5s;
}

.ndButton:focus{
    /* background: #33cc99;
    background: rgba(51, 204, 153, 0.2); */
    color:#33cc99; 
    border: 5px solid #33cc99;
}

.ndButton:hover{
    transform:scale(1.05);
    box-shadow: 2px 2px 4px black;
}

.ndButton:active{
    transform:scale(1);
    box-shadow: none;
}