

/* light green: #ccffff

green: #33cc99

blue: #336699 */


.nameDesc {
    height: 100vh;
    background:  #ccffff;
    padding-top: 60px;
}

.ndTitle {
    text-align: center;
    text-transform: capitalize;
    color: #336699; 
}



.ndWrapper {
    width: 80%;
    height: 60%;
    border: 10px solid #336699;
    margin: 0 auto;
    background: white;
}

.ndForm {
    margin: 100px 80px;
}

/* BUTTONS AND INPUTS AND LABELS */

.ndForm label {
    min-width: 400px;
    color: #336699;
}

input {
    width: 500px;
}

.ndButton {
    margin: 60px auto;
    display: block;
    width: 200px;
    height: 50px;
    border: 5px solid  #336699;
    border-radius: 5%;
    color: #336699;
    background: white;
    transition: 0.5s;
}

.noCaps {
    text-transform: none;
}
.ndSpan {
    display: block;
    margin: 10px 0;
}

/* END OF BUTTONS AND INPUTS */

/* HOVER AND ACTIVE STATES */

.ndButton:focus{
    color:#33cc99; 
    border: 5px solid #33cc99;
}

.ndButton:hover{
    transform:scale(1.05);
    box-shadow: 2px 2px 4px black;
}

.ndButton:active{
    transform:scale(1);
    box-shadow: none;
}

input:focus {
    background: rgba(51, 204, 153, .2);
    border: 2px solid #33cc99;
    color: #336699;
}

/* END OF HOVER AND ACTIVE STATES */

/* MEDIA QUERIES */

@media screen and (max-width: 850px) {
    .ndSpan input {
        width: 400px;
    }

 }

 @media screen and (max-width: 700px) {
    .ndForm {
        margin: 80px 40px;
    }

 }

 @media screen and (max-width: 620px) {

    .ndWrapper {
        height: 50%;
    }

    .ndSpan input {
        width: 300px;
    }

    .noCaps {
        display: block;
    }

 }

 @media screen and (max-width: 500px) {
    .ndWrapper {
        width: 90%;
    }
    .ndForm {
        margin: 60px 20px;
    }
 }

 @media screen and (max-width: 420px) {
    .ndSpan input {
        width: 260px;
    }
 }












