/* ul {
    padding: 0;
    margin: 0;
}

nav ul .home {
    float: left;
}

nav li {
    list-style-type: none;
}

.prevRacesComponent nav a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #29d1b0;
    color: #000;
} */

ul {
    padding: 0;
    margin: 0;
}

.prevRacesComponent header .logo {
  float: left;
  margin: 0;
}

.prevRacesComponent header nav ul {
  float: right;
}

.prevRacesComponent header nav {
    background-color: #29d1b0;
    position: fixed;
    width: 100%;
    padding-top: 2px;
    z-index: 10;
}

.prevRacesComponent header nav li {
    list-style-type: none;
    float: left;
}


.prevRacesComponent header nav a {
    text-decoration: none;
    padding: 10px 20px;
    color: #000;
    display: inline-block;
}